.headerWrapper {
  width: 100%;
  background-color: color-mix(in srgb, var(--color-primary-default) 2%, var(--color-gray-200));
  padding: 15px 0;
  border-bottom: 1px solid var(--color-gray-300);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoContainer {
  text-decoration: none;
  gap: 12px;
}

.logoSymbol {
  flex-shrink: 0; 
}

.logoTextContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.logoText {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-semibold);
  font-size: 24px;
  color: var(--color-white);
  line-height: 1; 
}

.logoSubtext {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  font-size: 10px;
  letter-spacing: 0.1em;
  color: var(--color-gray-400);
  line-height: 1;
}

.logoLink {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navLink {
  color: #a0a3bd;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: var(--color-primary-default);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconButton {
  background-color: transparent;
  border: 1px solid #4a4d5e; 
  color: #a0a3bd;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.iconButton:hover {
  color: var(--color-primary-default);
  border-color: var(--color-primary-default);
}

.userAvatar {
  background-color: #4a4d5e;
  color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.backButton {
  background: none;
  border: none;
  color: var(--color-gray-500);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s ease;
  letter-spacing: 1px;
}

.backButton:hover {
  color: var(--color-white);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid var(--color-gray-300);
  transition: all 0.2s ease;
}

.backButton:hover .iconWrapper {
  border-color: var(--color-primary-default);
}